<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Extra Bens</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<h4>Here are some of the extra bennefits the West Seattle Baseball Camp is happy to offer<h4>
		<br>
		<ul>
			<li>Personalized Web Page</li>
			<li>Camp Jersey with Number</li>
			<li>Daily Lunches and Snacks</li>
			<li>Lifelong Memories and Friendships</li>
		</ul>
	<a id="back" href="/" class="btn btn-danger">Go Back</a>
</body>
</html>