<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alki</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body><img id="ferry" src="static/images/view/ferry.jpg" alt="ferry" height="40%" width="40%">
	<h1>Things to do around Alki</h1>

		<ul>
			<li><a href=""=>Food and Drinks</a></li>
			<li><a href="">Shopping</a></li>
			<li><a href="">Beach Activities</a></li>
			<li><a href="/history">Discover the history of Seattle<a></li>
		</ul>


		<a href="/" class="btn btn-danger">Go Back</a>
</body>
</html>